{% extends 'problem/problem_content.html' %}
{% load static %}
{% block problem_content %}
  <div class="row">
    <div class="tab-content" id="">
      <div class="col-12">
        <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
          <p>
            {{ description|safe|linebreaks }}
          </p>
        </div>
      </div>
    </div>
  </div>

  {% if request.session.is_login %}
    <hr>
    <form id="code_form" method="post" onsubmit="return validate();" action="{% url 'problem:problem_code_submit' pid %}">
      {% csrf_token %}
      <label for="code_submit">
        代码</label>

      <div id="editor_div" style="position: relative; height: 200px; width: 100%;">
        <textarea
          class="form-control"
          id="code_submit"
          rows="3"
          name="code_submit"
          style="height: 100%; width: 100%; border: 0; resize: none;">
          {{anssql}}
        </textarea>
        <div id="editor" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; font-size: 14px"></div>
      </div>

      <hr>
      <div class="float-right">
        &nbsp;
        <button type="submit" class="btn btn-success">
          提交</button>
      </div>
      <div class="float-right">
        &nbsp;
        <button type="button" class="btn btn-success" id="execute_btn">
          执行</button>
      </div>
      <div class="float-right">
        <select name="sql_type" class="custom-select">
          {% for sql_type in sql_types %}
            <option value="{{sql_type}}">
              {{sql_type}}
            </option>
          {% endfor %}
        </select>
      </div>
    </form>
    <br>
    <div id="interpret_result"></div>
  {% endif %}


  <script src="{% static 'js/ace.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/ext-language_tools.js' %}" type="text/javascript" charset="utf-8"></script>
  <script>
    ace.require("ace/ext/language_tools");
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/textmate");
    editor
      .session
      .setMode("ace/mode/mysql");
    editor.setShowPrintMargin(false);

    var textarea = $('textarea[name="code_submit"]');
    editor
      .getSession()
      .setValue(textarea.val());
    editor
      .getSession()
      .on('change', function () {
        console.log('test');
        textarea.val(editor.getSession().getValue());
      });

    function validate() {
      if (textarea.val().replace(/^\s+|\s+$/g, "").length === 0) {
        alert('代码为空');
        return false;
      } else {
        return true;
      }
    }



    $("#execute_btn").click(function () {
      var formData = {};
      $('#code_form')
        .find("input[name]")
        .each(function (index, node) {
          formData[node.name] = node.value;
        });
      $('#code_form')
        .find("textarea[name]")
        .each(function (index, node) {
          formData[node.name] = node.value;
        });
      $('#code_form')
        .find("select[name]")
        .each(function (index, node) {
          formData[node.name] = node.value;
        });
      $.ajax({
        url: "interpret_solution",
        success: function (result) {
          $('#interpret_result').html(result['interpret_result']);
        },
        type: "POST",
        data: formData
      });

    });
  </script>
{% endblock %}
